<phpunit
        bootstrap="tests/php/bootstrap.php"
        colors="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        stopOnError="false"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="All">
            <directory suffix="Test.php">./tests/php/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
